@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap");

:root {
  --bg-color: hsl(100, 0%, 80%);
  --primary-color: hsl(60, 100%, 20%);
  --secondary-color: hsl(60, 100%, 5%);
  --tertiary-color: hsl(60, 70%, 50%);
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: var(--primary-color);
  text-align: center;
}

.container {
  margin: 0 auto;
  /*   width: 90vw; */
  margin-right: 2vw;
  display: grid;

  grid-template-columns: 3fr;
  grid-template-areas:
    "h h"
    "c m";
}

header {
  grid-area: h;
  text-align: center;
  margin: 20px;
}

main {
  grid-area: m;
  margin-left: 2vw;
}
nav.nav--const {
  background-color: black;
  grid-area: c;
}

nav.nav--menu {
  margin-top: 10px;
}

nav.nav--menu a {
  text-decoration: none;
  background-color: black;
  border-radius: 25px;
  padding: 5px 10px;
}

nav.nav--menu a:hover {
  background-color: #444;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

nav a {
  color: var(--tertiary-color);
}

/*main START*/

.section-const-text img {
  max-height: 70vh;
  margin: 0 auto;
}

.section-objects img {
  width: 100%;
  object-fit: cover;
  max-height: 40vh;
}

.section-objects figure {
  margin-bottom: 3vh;
}

@media (min-width: 900px) {
  section.section--main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20vw 1vh;
  }
}

/*main END*/

/*Sidebar START*/
/* The sidepanel menu */
.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /*   margin-top: -20px;
  margin-bottom: 20px; */

  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 2px 8px 2px 32px;
  text-decoration: none;
  font-size: 16px;
  color: var(--tertiary-color);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: var(--primary-color);
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 60px;
  /*   right: 45px; */
  font-size: 36px;
  margin-left: 150px;
  position: sticky;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
/*Sidebar END*/

@media (min-width: 800px) {
  #mySidepanel {
    width: 210px; /* 0 width - change this with JavaScript */
    z-index: 0; /* Stay on top */
    position: static; /* Stay in place */
    left: auto;
    top: auto;
  }
}
